html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #instructions{
    color:white;
  }

  button{ 
    background-color: blue; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    display: inline-block; 
    font-size: 15px; 
    margin: 4px 2px; 
    cursor: pointer; 
  } 
